.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}
.login img{
    
    width:500px;
}
.login a{
    padding:20px;
    border-radius: 99px;
    background-color:gray;
    color: white;
    font-style: bold;
   
    
    text-decoration: none;

}
