.sidebarOption{
    display:flex;
    align-items:center;
    color:gray;
    font-family:Arial, Helvetica, sans-serif ;
    cursor:pointer;
    

}
.sidebar hr{
    border:1px solid gray;
    width:90%;
    margin:10px auto;

}
.sidebarOption:hover{
    color:blue;

}

.sidebarOption__icon{
    padding-left: 10px;
    padding-right: 10px;

}
.sidebarOption  p{
    margin-top:10px;
    margin-left:10px;
    font-size:14px;

}